@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Netflix Sans Medium";
  src: url("/assets/fonts/NetflixSansMedium.ttf") format("truetype");
}
@font-face {
  font-family: "Netflix Sans Regular";
  src: url("/assets/fonts/NetflixSansRegular.ttf") format("truetype");
}
.hovered {
  opacity: 0.9;
  text-decoration: underline;
  cursor: pointer;
}

.logo {
  font-family: "Bebas Neue", cursive;
  font-size: 1.9em;
  color: #E50914;
  position: relative;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  height: 70px;
  gap: 50px;
  z-index: 100;
}
header .right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .right .menu-topo {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
  font-size: 14px;
}
header .right .menu-topo a {
  text-decoration: none;
  color: #fff;
}
header .right .menu-topo a.active {
  font-family: "Netflix Sans Medium";
}
header .right .perfil ul {
  display: flex;
  gap: 25px;
  font-size: 20px;
}
header .right .perfil ul a {
  color: #fff;
  text-decoration: none;
}
header .right .perfil ul .seletor-de-perfis a {
  color: #E50914;
}

#hero {
  position: absolute;
  background-color: orange;
  min-height: 100vh;
  min-width: 100vw;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#hero .hero-infos {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 600px;
  height: 200px;
  transform: translateY(-50%);
}
#hero .hero-infos .title-hero {
  color: #fff;
  font-size: 50px;
  font-family: "Cinzel", serif;
  width: 2000px;
}
.hero-button {
  font-family: "Netflix Sans Medium";
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.hero-button.assitir:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.hero-button.mais-info {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
}
.hero-button.mais-info:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#hero .hero-infos .sinopse-hero {
  font-family: "Netflix Sans Regular";
  color: #fff;
  font-weight: 500;
  margin: 20px 0;
}

.row, #rowtops {
  display: flex;
  position: absolute;
  bottom: -15%;
  left: 0;
  min-width: 100vw;
  height: 250px;
  padding-left: 5%;
}
.row .row-title, #rowtops .row-title {
  position: absolute;
  font-family: "Netflix Sans Medium";
  color: #fff;
  font-size: 20px;
}
.row .card, #rowtops .card {
  position: relative;
  margin-top: 30px;
  display: flex;
}
.row .card .card-number, #rowtops .card .card-number {
  margin-top: -45px;
  font-family: "Roboto Mono", monospace;
  font-size: 320px;
  text-shadow: 2px 0 #ccc, -2px 0 #ccc, 0 2px #ccc, 0 -2px #ccc, 1px 1px #ccc, -1px -1px #ccc, 1px -1px #ccc, -1px 1px #ccc;
}
.row .card .card-cover, #rowtops .card .card-cover {
  width: 150px;
  height: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: -60px;
}
.row .card .card-title, #rowtops .card .card-title {
  position: absolute;
  top: 50%;
  right: 10%;
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  width: 100px;
}

html {
  background-color: rgb(20, 20, 20);
}

body {
  width: 90vw;
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Netflix Sans Regular";
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
